<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Hotel</title>
<link rel="stylesheet" href="../styles/style.css">

</head>
<body>
<header>
   <div class="container">
    <nav>
    <img src="../resources/logo.png" alt="logo" style="width: 120px; height: 60px; position: relative; align-items: end;">

      <a href="../index.html">Inicio</a>
      <a href="habitaciones.html">Habitaciones</a>
      <a href="servicios.html">Servicios</a>
      <a href="galeria.html">Galería</a>
      <a href="https://www.google.com/maps/dir/5.5640064,-73.3380608/7.0810135,-70.757082/@6.1239477,-74.6719035,7z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0?entry=ttu&g_ep=EgoyMDI1MTExMi4wIKXMDSoASAFQAw%3D%3D">Ubicación</a>
    </nav>
  </div>
</header>

<main class="container">
  <h2>Galería</h2>
  <div class="grid-3">
    <img src="recursos/habitacion 2.jpg" alt="">
    <img src="recursos/hab1 (1).webp" alt="">
    <img src="recursos/hab1 (2).webp" alt="">
  </div>
</main>

  <footer>
    <p>&copy; 2025 Hotel Todos los derechos reservados.</p>
  </footer>
</body>
</html>
