<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hotel</title>
<link rel="stylesheet" href="../styles/style.css">

  <script defer src="script.js"></script>
</head>
<body>
  <header>
     <div class="container">
    <nav>
    <img src="../resources/logo.png" alt="logo" style="width: 120px; height: 60px; position: relative; align-items: end;">

      <a href="../index.html">Inicio</a>

      <a href="habitaciones.html">Habitaciones</a>
      <a href="servicios.html">Servicios</a>
      <a href="galeria.html">Galería</a>
      <a href="contacto.html">Contacto</a>
    </nav>
  </div>
  </header>

  <main class="habitacion-detalle">
    <h2>Habitación Doble</h2>
    <div class="galeria">
      <img src="recursos/hab1 (1).webp" alt="">
      <img src="recursos/hab1 (2).webp" alt="">
    </div>
    <p>
      Perfecta para dos personas, equipada con aire acondicionado, minibar, escritorio y hermosa vista al jardín.
    </p>
    <!-- Sección Reserva -->
    <main class="reserva">
      <h2>Reserva tu habitación</h2>
      <!-- <div class="beneficios-reserva">
        <p>✅ Precio más bajo garantizado<br>
          ✅ Cancelación gratuita hasta 24h antes<br>
          ✅ Desayuno incluido en todas las reservas<br>
          ✅ Wi-Fi gratis y estacionamiento</p>
      </div> -->

      <!-- <form id="formReserva">
        <label for="habitacion">Tipo de habitación:</label>
        <select id="habitacion" required>
          <option value="">Seleccione</option>
          <option value="Individual">Individual</option>
          <option value="Doble">Doble</option>
          <option value="Suite">Suite</option>
        </select>

        <label for="fechaEntrada">Fecha de entrada:</label>
        <input type="date" id="fechaEntrada" required>

        <label for="fechaSalida">Fecha de salida:</label>
        <input type="date" id="fechaSalida" required>

        <label for="huéspedes">Número de huéspedes:</label>
        <select id="huéspedes" required>
          <option value="">Seleccione</option>
          <option value="1">1 persona</option>
          <option value="2">2 personas</option>
          <option value="3">3 personas</option>
          <option value="4">4 personas</option>
        </select>

        <button type="submit" id="btnWhatsApp">Reservar por WhatsApp</button>
      </form> -->
    </main>
    <form class="formReserva" data-habitacion="Doble">
      <label>Fecha de entrada:</label>
      <input type="date" id="entrada-dob" required>

      <label>Fecha de salida:</label>
      <input type="date" id="salida-dob" required>

      <button type="submit">Reservar por WhatsApp</button>
    </form>
  </main>

  <footer>
    <p>&copy; 2025 Hotel Todos los derechos reservados.</p>
  </footer>
</body>
</html>
